.contactsContainer {
    /* max-width: 100%;
    margin: 0 auto;
    padding-top: 63px; */
    /* max-width: 360px; */
}

.contactsBox{
display: flex;
    padding-left: 27px;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #c6c6dc;
    margin-bottom: 23px;
}

.contactsTitle{
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    color: #202846;
}

.contactsSpan{
    border: 1px solid #202846;
    width: 144px;
    height: 0px;
}

.contactsSpan1{
    border: 1px solid #202846;
    width: 144px;
    height: 0px;
}

.contactsSpan2{
    border: 1px solid #202846;
    width: 154px;
    height: 0px;
}

.contactsSpan3{
    border: 1px solid #202846;
    width: 146px;
    height: 0px;
}

.contactsContainer{
display: grid;
grid-template-columns: repeat(2, 1fr);
justify-items: center;
}

.contactsItem {
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.contactsLabel {
font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000;
}

.contactsLabel2{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000;
}
.contactsInfo {
font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #000;
    width: 150px;
    margin-top: 11px;
}

.contactsInfo1{
font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000;
    width: 166px;
        margin-top: 11px;
}

.contactsInfo2{
font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000;
    width: 129px;
    margin-top: 11px;
}

.contactsInfo3{
font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000;
    width: 174px;
    margin-top: 11px;
}

.contactsMap {
    display: flex;
    border: 3px solid rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    width: 100%;
    height: auto;

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1920px) {
.contactsContainer {
    /* max-width: 100%; */
    margin: 0 auto;
    padding-top: 63px;
    max-width: 1103px;
}

.contactsBox {
    display: flex;
    padding-left: 227px;
    align-items: center;
    width: 100%;
    height: 140px;
    background: #c6c6dc;
    margin-bottom: 23px;
}

.contactsTitle {
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    color: #202846;
}

.contactsSpan {
    border: 3px solid #202846;
    width: 244px;
    height: 0px;
}

.contactsSpan1 {
    border: 3px solid #202846;
    width: 266px;
    height: 0px;
}

.contactsSpan2 {
    border: 3px solid #202846;
    width: 264px;
    height: 0px;
}

.contactsSpan3 {
    border: 3px solid #202846;
    width: 386px;
    height: 0px;
}

.contactsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.contactsItem {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.contactsLabel {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #000;
}

.contactsLabel2 {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #000;
    margin-top: 76px;
}

.contactsInfo {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #000;
    width: 250px;
    margin-top: 11px;
}

.contactsInfo1 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #000;
    width: 266px;
    margin-top: 11px;
}

.contactsInfo2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #000;
    width: 229px;
    margin-top: 11px;
}

.contactsInfo3 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #000;
    width: 374px;
    margin-top: 11px;
}

.contactsMap {
    display: flex;
    border: 3px solid rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    width: 577px;
    height: 335px;
    margin-top: 52px;
    margin-left: 236px;
}
}

.container {
    max-width: 360px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container1 {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

}

@media only screen and (min-width: 1920px) {
    .container {
        max-width: 1920px;
        padding-left: 218px;
        padding-right: 218px;
    }
}