.scrollTopButton {
    position: fixed;
    bottom: 150px;
    right: 18%;
    border-radius: 100%;
    width: 51px;
    height: 51px;
    color: #fff;
    font-size: 45px;
       background: #2b33819e;
        /* bottom: 20px;
        right: 20px; */
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
}

.scrollTopButton.visible {
    opacity: 1;
    visibility: visible;
}


@media only screen and (min-width: 1920px) {
    .scrollTopButton {
        bottom: 150px;
        right: 18%;
        border-radius: 100%;
        width: 101px;
        height: 101px;
    }
}