.container {
    max-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
}


@media only screen and (min-width: 375px) {
.container {
    max-width: 375px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
    }

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1920px) {
    .container {
        max-width: 1920px;
        padding-left: 218px;
        padding-right: 218px;
    }
}