.aboutUsBox{
    display: flex;
    padding-left: 80px;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #c6c6dc;
    margin-bottom: 23px;
}

.aboutUsTitle{
    font-style: italic;
        font-weight: 400;
        font-size: 22px;
        color: #202846;
}

.aboutUsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/src/img/AboutUs-1x.jpg), url(/src/img/AboutUs-2x.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 227px;
}

.aboutUsTitle2{
    font-weight: 700;
        font-size: 48px;
        text-align: center;
        color: #fff;
}

.aboutUsSpan{
    font-weight: 700;
    text-align: center;
    color: #fff;
    font-style: italic;
    font-size: 16px;
}

.aboutUsSpanBox{
display: flex;
width: 350px;
text-align: center;
}

.aboutUsBox2{
    max-width: 100%;
    margin: 0 auto;
    height: 380px;
    padding-left: 34px;
    padding-top: 30px;
    margin-top: 23px;
    background: #cbcbcb;
}

.aboutUsText{
    font-weight: 400;
    font-size: 16px;
    color: #202846;
}

.aboutUsSpanBox1{
    width: 310px;
}

@media only screen and (min-width: 768px) {
.aboutUsBox {
        padding-left: 100px;
        height: 90px;
        background: #c6c6dc;
    }
        .aboutUsTitle {
        font-size: 36px;
        }
}

@media only screen and (min-width: 1920px) {
    .aboutUsBox {
        padding-left: 227px;
        height: 140px;
        }
    .aboutUsTitle {
        font-size: 48px;
                }
}