.container {
    max-width: 1900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.languageSwitcher1 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 63px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 23px;
    flex-direction: row;
    list-style-type: none;
    color: #fff;
    /* justify-content: space-between; */
    /* margin-right: 64px; */
    /* margin-left: 292px; */
    flex-wrap: nowrap;
    /* margin-right: 64px; */
}

.link::before {
    content: "";
    position: absolute;
    border: 2px solid #fff;
    width: 0px;
    height: 59px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.link:hover::before {
    transform: scaleX(1);
}

.link {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition-property: color, background-color, transform;
    transition-duration: 0.2s;
    transition-timing-function: var(--animation-cubicBezier);
    transform: scale(0.9);
}

.isActive {
    composes: link;
    color: var(--color-white);
    background-color: var(--color-accent);

    padding: 6px 12px;
    border-radius: 4px;

    transform: scale(1);
    pointer-events: none;
}

.logoIcon {
    border-radius: 167px;
    width: 178px;
    height: 70px;
    margin-right: 292px;
    margin-left: 138px
}

.lang{
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #fff;
}


.langList {
    position: absolute;
    top: 105px;
    right: 55px;
    background: #202846;
    border-radius: 5px;
    box-shadow: 0px 4px 6px #c4c4c41a;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    z-index: 100;
    min-width: 80px;
}

.langList li {
    padding: 8px 15px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
    white-space: nowrap;
}

.langList li:hover {
    background: #ffffff1a;
}

.langButton {
    background: none;
    border: none;
    padding: 0;
    margin-right: 8px;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.langButton:hover {
    background: #c4c4c41a;
}

.langButton:focus {
    outline: none;
    background: rgba(196, 196, 196, 0.2);
}

.active {
    font-weight: bold;
}

.langContainer {
    position: relative;
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .link {
        font-size: 20px;
    }

    .nav {
        gap: 20px;
    }

    .logoIcon {
    }
}

@media screen and (min-width: 1280px) {
    .link {
        font-size: 24px;
    }

    .nav {
        gap: 24px;
    }

    .logoIcon {
    }
}