.header{
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 10px;
    background-color: #272046;
}


@media only screen and (min-width: 375px) {
    .header {
        padding: 15px 20px;
        }
}

@media only screen and (min-width: 1920px) {
    .header {
        padding-left: 138px;
        padding-right: 63px;
    }

}