.titleHoliday{
    font-weight: 700;
    font-size: 75px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}

.subTitle{
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}

.spanTitle{
    font-size: 64px;
}

.holidayTime{
    background-image: url(/src/img/Component-1x.jpg), url(/src/img/Component-2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 369px;
    margin-top: 53px;
    padding-top: 85px;
}

.reserveContainer {
    content:"" ;
    position: relative;
    margin-top: 53px ;
    background-image: url(/src/img/Group1x.jpg), url(/src/img/Group2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 604px;
}

.strokeLine{
    width: 51px;
        height: 101px;
}

#icon-Group-13-1{
border: 5px solid #fff;
fill: #fff;
}

.textReserve {
font-family: "PT Sans", sans-serif;
font-style: italic;
font-weight: 400;
font-size: 24px;
color: #202846;
padding: 30px 25px 30px 25px;
margin: 0;
}

.boxForText{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1164px;
    height: 167px;
    background: rgba(255, 255, 255, 0.8);
}

#icon-Ellipse-5-1{
    border-radius: 100%;
    fill: #a5bb4f;
}

.circleContainer {
    position: absolute;
    bottom: 13px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    justify-content: center;
}

.circle {
    width: 21px;
    height: 20px;
    background-color: #215023;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.circle:hover {
    transform: scale(1.2);
}

.active {
    background-color: #a5bb4f;
    transform: scale(1.2);
}

.containerBtnRes{
    content: "";
    position: relative;
}

.buttonRes{
    position: absolute;
    top: 403px;
    left: 50%;
    background-color: #202846;
    width: 245px;
    height: 68px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttonRes:hover {
    transform: scale(1.05);
}

.arrow {
    font-size: 20px;
    align-items: center;
}

#icon-Arrow-1-1{
stroke-width: 3px;
}

.arrowLeft,
.arrowRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: white;
    border: none;
    font-size: 101px;
    cursor: pointer;
filter: blur(0.5px);
    opacity: 0.8;
    transition: filter 0.3s ease, opacity 0.3s ease;
    padding: 0;
    border: none;
}

.arrowLeft:hover,
.arrowRight:hover {
    filter: blur(0);
    opacity: 1;
}

.arrowLeft {
    left: 20px;
}

.arrowRight {
    right: 20px;
}

.arrowLeft:hover,
.arrowRight:hover {
    background: rgba(0, 0, 0, 0.8);
}

.activeVacation{
    width: 100%;
    height: 412px;
    background: rgba(193, 193, 195, 0.9);
    margin-top: 46px;
    margin-bottom: 49px;
    padding: 30px 70px;
}

.activeVacationImg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.activeVacationTxt{
    display: flex;
    align-items: center;
    background: rgba(234, 234, 235, 0.7);
    width: 632px;
    height: 349px;
}

.activeVacationImg1{
    width: 100%;
    height: 349px;
}

.activeVacationCont{
    display: flex;
    justify-content: center;
    gap: 18px;
}

.txtVacantion{
        font-weight: 400;
        font-size: 26px;
        text-align: center;
        color: #202846;
}

